* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
	overflow: hidden;
}

canvas {
  display: flex;
}

.hero-s_wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.model-section {
  flex-grow: 1;
}

.math-section {
  min-width: 700px;
  border: solid 2px red;
}

.typed-number {
  font-size: 24px;
}