* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: #000;
}

html,
body {
  height: 100%;
	overflow: hidden;
}

canvas {
  display: flex;
}

.overlay_wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 1000;
}

.overlay_wrapper h1 {
  color: #fff;
  padding: 0px;
}

.overlay_wrapper p {
  color: #b3b3b3;
  padding-bottom: 24px;
}

.hero-s_wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.model-section {
  flex-grow: 1;
}

.math-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 700px;
  background-color: transparent;
  /* border: solid 2px red;
  background-color: aqua; */
}

.typed-number {
  display: inline;
  font-size: 84px;
  color: #fff;
}

.result-number {
  display: inline;
  position: absolute;
  bottom: 100px;
  font-size: 32px;
  padding: 16px 96px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 48px;
  color: #fff;
}

/* ::::: Simple spinner ::::: */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.361);
  border-left-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* ::::: Simple spinner ::::: */